body {
	text-align: center;
}

.app-title {
	padding: 1em;
	font-size: 2em;
	font-weight: bold;
}

.app-table {
	width: 100%;
	border-spacing: 0;

	thead {
		background: #d2d2d2;
		font-weight: bold;
	}

	tbody tr:nth-child(even) {
		background: #efefef;
	}

	td {
		padding: 1em .5em;
	}
}