body {
	text-align: center;
}

.app-title {
	padding: 1em;
	font-size: 2em;
	font-weight: bold;
}

.app-aside {
	margin-bottom: 2em;
	font-weight: 1.2em;
}

.app-table {
	width: 100%;
	border-spacing: 0;

	thead {
		background: #d2d2d2;
		font-weight: bold;
	}

	tbody tr:nth-child(even) {
		background: #efefef;
	}

	td {
		padding: 1em .5em;
	}
}

input {
	display: inline-block;
    width: 2em;
    padding: 5px;
    margin: 0 .5em;
}